<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Image uploader</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <h1>Image uploader</h1>
        <form method="post" enctype="multipart/form-data" action="/form-submit">
            <div class="input">
                <h3>Upload Image : </h3>
                <input type="file" id="uploadInput" accept="image/png " name="uploadedImg" >
            </div>
            <% if(url) { %>
            <div class="output">
                <img src=<%= url %> alt="uploaded Image">
            </div>
            <% } %>

            <button id="submit-btn" type="submit">Upload</button>
            <button type="reset" id="reset-btn">
                <a href="http://localhost:1000/">Reset</a>
            </button>

        </form>
    </div>

    <script  src="/scripts/script.js"></script>
</body>
</html>