*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 150, 150);
    
}
.container{
    border: 2px solid rgb(12, 12, 12);
    width: 40vw;
    text-align: center;   
    padding: 5px; 
}
h1{
    text-decoration: underline;
    font-family: cursive;
}
form{
    margin-top: 40px;
    
}
.input{
    text-align: left;
    font-size: larger;
    margin-bottom: 30px;
}
.input h3{
    text-decoration : none;
    font-weight: 500;
    display: inline;


}
input{
    font-size: larger;
    text-align: center;
    cursor: pointer;
}
.output{
    background-color: pink;
}
button{
    width: 10rem;
    height: 2rem;
    font-style: oblique;
    font-size: larger;
    cursor: pointer;
}